# dnn-sim configuration file
-END_enable 0

# for Processing Unit 
-PU_input_num 32 
-PU_access_cycle 1
-PU_static_power 0.0528 # mW 
-PU_dynamic_energy 0.006808 # nJ
-PU_area 0.004689064751  # mm2

# for Global Buffer
-GB_type 1 # 1 = SRAM, 2 = STT-RAM 
-GB_capacity 512 # kB 
-GB_access_cycle 2  
-GB_static_power 4.669 # mW 
-GB_dynamic_energy 0.274182 # nJ
-GB_area 2.046 # mm2, STT-RAM 
-GB_bank_num 1
-GB_num 9
-GB_write_cycle 11 
-GB_dynamic_write_energy 0.795970 # nJ


# for Weight Buffer
-WB_capacity 32 # kB 
-WB_access_cycle 1  
-WB_static_power 0.502704 # mW 
-WB_dynamic_energy 0.0281322 # nJ
-WB_area 0.140881 # mm2 
-WB_bank_num 1
-WB_num 9


# for Feature Buffer
-FB_capacity 32 # kB 
-FB_access_cycle 1  
-FB_static_power 0.502704 # mW 
-FB_dynamic_energy 0.0281322 # nJ
-FB_area 0.140881 # mm2 
-FB_bank_num 1 
-FB_num 4

# for Providing Netwokr
-NET_static_power 0.706 # mW 
-NET_dynamic_energy 0.1076 # nJ
-NET_area 0.0726084 # mm2 

# for Global Controller 
-CTRL_static_power 0.0528 # mW 
-CTRL_dynamic_energy 0.006808 # nJ
-CTRL_area 0.003 # mm2 


# for Architecture 
-row_PU_num 16 
-row_num 9 
-frequency 1000 # MHz

# for DRAM
-DRAM_access_cycle 6


